.grid{
    display: grid;
}

.from-input{
    grid-template-columns: 1fr,1fr;
    gap: 3em;
    align-items: center;
    justify-content: space-around;
}

.from-input>input{
    padding: 1.5em;
}
.from-input p{
    color: red;
    text-transform: uppercase;
}